a:hover,
a:focus {
    color: #02874D;
}

#navigation {
	border-top: 5px solid #02874D;
}

a,.tp-caption a.btn:hover {
	color: #02874D;
}
.top-nav-collapse {
	background: #02874D;
}

.carousel-indicators .active {
    background-color: #02874D;
}

.header-text h2 span {
    background-color: #02874D;
}


.navbar-custom ul.nav ul.dropdown-menu li a:hover {
	color: #02874D;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: #02874D;
}

.widget-avatar .avatar:hover {
    border: 5px solid #02874D;
}

.bg-skin {
	background: #02874D;
}

.highlight-color {
	background-color: #02874D;
}

.service-box:hover {
	border-bottom: 2px solid #02874D;
}



form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #02874D;
}
form.search-form input:focus {
	border-color: #02874D;
}

/* footer */
ul.footer-menu li a:hover {
	color: #02874D;
}

footer a.totop:hover {
	color: #02874D;
}


.btn-skin {
  color: #fff;
  background-color: #02874D;
  border-color: #02874D;
}
